In [21]:
#model file: create model here: Linear Regression

In [22]:
#training and testing data
from sklearn.model_selection import train_test_split

In [52]:
import pandas as pd
import io #input and output
import os
import requests
import numpy as np
from sklearn import metrics

In [53]:
df = pd.read_csv("auto-mpg.csv", na_values = ["NA","?"])
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [54]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [55]:
df.isna().sum() #check whether the dataset can null values or not

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [56]:
#fill na values with median valueus

In [57]:
median = df["horsepower"].median() #handle the missing values

In [58]:
df["horsepower"]=  df["horsepower"].fillna(median)

In [59]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [60]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [61]:
#input: x
#output: y

x =  df.iloc[:, 1:8]
x.head()

   cylinders  displacement  horsepower  weight  acceleration  year  origin
0          8         307.0       130.0    3504          12.0    70       1
1          8         350.0       165.0    3693          11.5    70       1
2          8         318.0       150.0    3436          11.0    70       1
3          8         304.0       150.0    3433          12.0    70       1
4          8         302.0       140.0    3449          10.5    70       1

In [62]:
y = df.iloc[:, :1]
y.head()

    mpg
0  18.0
1  15.0
2  18.0
3  16.0
4  17.0

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 12)

In [64]:
#model finally

In [65]:
from tensorflow.keras.models import Sequential

In [66]:
from tensorflow.keras.layers import Dense, Activation 
from tensorflow.keras.callbacks import EarlyStopping # 

#case: if my model is not reducing error (constant), stop training the model

In [67]:
x.shape

(398, 7)

In [68]:
model = Sequential()

model.add(Dense(25, input_dim = x.shape[1], activation = "relu"))
model.add(Dense(10, activation = "relu"))
model.add(Dense(1))


model.compile(loss = "mean_squared_error", optimizer = "adam")



monitor = EarlyStopping(monitor = "val_loss", min_delta = 1e-3, patience = 5,
                       verbose = 1, mode = "auto", restore_best_weights = True)

model.fit(x_train, y_train, validation_data = (x_test, y_test),
         callbacks = [monitor],
         verbose = 1,
         epochs = 1000)


#train our model

Epoch 1/1000
10/10 [==============================] - 0s 13ms/step - loss: 157346.4219 - val_loss: 84548.0781
Epoch 2/1000
10/10 [==============================] - 0s 4ms/step - loss: 44265.5352 - val_loss: 15612.2686
Epoch 3/1000
10/10 [==============================] - 0s 4ms/step - loss: 5479.8882 - val_loss: 426.7277
Epoch 4/1000
10/10 [==============================] - 0s 4ms/step - loss: 601.2319 - val_loss: 1396.1667
Epoch 5/1000
10/10 [==============================] - 0s 4ms/step - loss: 1593.6194 - val_loss: 1287.1731
Epoch 6/1000
10/10 [==============================] - 0s 4ms/step - loss: 909.8448 - val_loss: 378.9236
Epoch 7/1000
10/10 [==============================] - 0s 4ms/step - loss: 300.9176 - val_loss: 271.8223
Epoch 8/1000
10/10 [==============================] - 0s 4ms/step - loss: 270.8382 - val_loss: 330.8578
Epoch 9/1000
10/10 [==============================] - 0s 4ms/step - loss: 282.1261 - val_loss: 287.3935
Epoch 10/1000
10/10 [==============================] - 0s 4ms/step - loss: 251.8169 - val_loss: 248.0734
Epoch 11/1000
10/10 [==============================] - 0s 3ms/step - loss: 242.8982 - val_loss: 239.8890
Epoch 12/1000
10/10 [==============================] - 0s 4ms/step - loss: 241.8284 - val_loss: 238.3228
Epoch 13/1000
10/10 [==============================] - 0s 4ms/step - loss: 238.5302 - val_loss: 241.2271
Epoch 14/1000
10/10 [==============================] - 0s 4ms/step - loss: 235.1723 - val_loss: 237.6418
Epoch 15/1000
10/10 [==============================] - 0s 3ms/step - loss: 231.9473 - val_loss: 232.1521
Epoch 16/1000
10/10 [==============================] - 0s 4ms/step - loss: 229.1015 - val_loss: 226.7310
Epoch 17/1000
10/10 [==============================] - 0s 4ms/step - loss: 226.7673 - val_loss: 224.9069
Epoch 18/1000
10/10 [==============================] - 0s 4ms/step - loss: 223.4755 - val_loss: 223.1059
Epoch 19/1000
10/10 [==============================] - 0s 5ms/step - loss: 221.3852 - val_loss: 223.0452
Epoch 20/1000
10/10 [==============================] - 0s 4ms/step - loss: 218.0668 - val_loss: 220.0331
Epoch 21/1000
10/10 [==============================] - 0s 4ms/step - loss: 215.6025 - val_loss: 213.9324
Epoch 22/1000
10/10 [==============================] - 0s 4ms/step - loss: 212.3388 - val_loss: 213.5107
Epoch 23/1000
10/10 [==============================] - 0s 4ms/step - loss: 211.5142 - val_loss: 215.5373
Epoch 24/1000
10/10 [==============================] - 0s 4ms/step - loss: 206.4103 - val_loss: 206.2612
Epoch 25/1000
10/10 [==============================] - 0s 4ms/step - loss: 204.3583 - val_loss: 201.3470
Epoch 26/1000
10/10 [==============================] - 0s 4ms/step - loss: 201.1860 - val_loss: 199.5909
Epoch 27/1000
10/10 [==============================] - 0s 4ms/step - loss: 198.3120 - val_loss: 198.6213
Epoch 28/1000
10/10 [==============================] - 0s 4ms/step - loss: 195.1592 - val_loss: 195.4648
Epoch 29/1000
10/10 [==============================] - 0s 4ms/step - loss: 192.6033 - val_loss: 191.9632
Epoch 30/1000
10/10 [==============================] - 0s 4ms/step - loss: 189.5394 - val_loss: 191.0496
Epoch 31/1000
10/10 [==============================] - 0s 4ms/step - loss: 186.9950 - val_loss: 184.8522
Epoch 32/1000
10/10 [==============================] - 0s 3ms/step - loss: 184.3315 - val_loss: 182.9317
Epoch 33/1000
10/10 [==============================] - 0s 4ms/step - loss: 180.8682 - val_loss: 181.2819
Epoch 34/1000
10/10 [==============================] - 0s 4ms/step - loss: 177.8925 - val_loss: 177.7048
Epoch 35/1000
10/10 [==============================] - 0s 4ms/step - loss: 175.1985 - val_loss: 174.6324
Epoch 36/1000
10/10 [==============================] - 0s 4ms/step - loss: 172.7396 - val_loss: 173.8766
Epoch 37/1000
10/10 [==============================] - 0s 4ms/step - loss: 170.4679 - val_loss: 167.2605
Epoch 38/1000
10/10 [==============================] - 0s 4ms/step - loss: 166.7128 - val_loss: 169.4191
Epoch 39/1000
10/10 [==============================] - 0s 4ms/step - loss: 164.1198 - val_loss: 163.0348
Epoch 40/1000
10/10 [==============================] - 0s 4ms/step - loss: 160.8690 - val_loss: 160.8262
Epoch 41/1000
10/10 [==============================] - 0s 3ms/step - loss: 158.5281 - val_loss: 157.8544
Epoch 42/1000
10/10 [==============================] - 0s 4ms/step - loss: 155.1230 - val_loss: 154.1566
Epoch 43/1000
10/10 [==============================] - 0s 4ms/step - loss: 152.5251 - val_loss: 151.4401
Epoch 44/1000
10/10 [==============================] - 0s 4ms/step - loss: 150.1160 - val_loss: 150.6522
Epoch 45/1000
10/10 [==============================] - 0s 4ms/step - loss: 147.0790 - val_loss: 145.2598
Epoch 46/1000
10/10 [==============================] - 0s 4ms/step - loss: 144.2022 - val_loss: 145.8796
Epoch 47/1000
10/10 [==============================] - 0s 4ms/step - loss: 141.5870 - val_loss: 139.8218
Epoch 48/1000
10/10 [==============================] - 0s 4ms/step - loss: 138.4264 - val_loss: 140.0361
Epoch 49/1000
10/10 [==============================] - 0s 4ms/step - loss: 136.6792 - val_loss: 136.3184
Epoch 50/1000
10/10 [==============================] - 0s 3ms/step - loss: 133.4697 - val_loss: 133.3676
Epoch 51/1000
10/10 [==============================] - 0s 4ms/step - loss: 130.6238 - val_loss: 132.4802
Epoch 52/1000
10/10 [==============================] - 0s 4ms/step - loss: 128.2194 - val_loss: 127.9621
Epoch 53/1000
10/10 [==============================] - 0s 4ms/step - loss: 128.4404 - val_loss: 122.5602
Epoch 54/1000
10/10 [==============================] - 0s 4ms/step - loss: 123.2777 - val_loss: 126.7020
Epoch 55/1000
10/10 [==============================] - 0s 4ms/step - loss: 121.1208 - val_loss: 119.6684
Epoch 56/1000
10/10 [==============================] - 0s 4ms/step - loss: 118.0206 - val_loss: 117.3553
Epoch 57/1000
10/10 [==============================] - 0s 4ms/step - loss: 115.6101 - val_loss: 114.1425
Epoch 58/1000
10/10 [==============================] - 0s 4ms/step - loss: 113.2600 - val_loss: 111.9784
Epoch 59/1000
10/10 [==============================] - 0s 4ms/step - loss: 110.8837 - val_loss: 111.1938
Epoch 60/1000
10/10 [==============================] - 0s 4ms/step - loss: 108.3074 - val_loss: 106.6831
Epoch 61/1000
10/10 [==============================] - 0s 4ms/step - loss: 106.2361 - val_loss: 105.3443
Epoch 62/1000
10/10 [==============================] - 0s 4ms/step - loss: 104.5904 - val_loss: 105.7591
Epoch 63/1000
10/10 [==============================] - 0s 4ms/step - loss: 102.1043 - val_loss: 99.6255
Epoch 64/1000
10/10 [==============================] - 0s 4ms/step - loss: 99.3969 - val_loss: 100.0071
Epoch 65/1000
10/10 [==============================] - 0s 3ms/step - loss: 97.5837 - val_loss: 96.1677
Epoch 66/1000
10/10 [==============================] - 0s 3ms/step - loss: 95.1732 - val_loss: 94.1605
Epoch 67/1000
10/10 [==============================] - 0s 3ms/step - loss: 93.2069 - val_loss: 93.5629
Epoch 68/1000
10/10 [==============================] - 0s 3ms/step - loss: 91.4413 - val_loss: 92.0381
Epoch 69/1000
10/10 [==============================] - 0s 3ms/step - loss: 89.6796 - val_loss: 87.0776
Epoch 70/1000
10/10 [==============================] - 0s 3ms/step - loss: 87.4294 - val_loss: 87.6249
Epoch 71/1000
10/10 [==============================] - 0s 3ms/step - loss: 85.9365 - val_loss: 83.1677
Epoch 72/1000
10/10 [==============================] - 0s 4ms/step - loss: 83.3862 - val_loss: 83.6721
Epoch 73/1000
10/10 [==============================] - 0s 4ms/step - loss: 82.0734 - val_loss: 80.6396
Epoch 74/1000
10/10 [==============================] - 0s 4ms/step - loss: 79.9805 - val_loss: 77.3845
Epoch 75/1000
10/10 [==============================] - 0s 4ms/step - loss: 78.3117 - val_loss: 76.9321
Epoch 76/1000
10/10 [==============================] - 0s 3ms/step - loss: 76.9673 - val_loss: 76.1253
Epoch 77/1000
10/10 [==============================] - 0s 4ms/step - loss: 75.3328 - val_loss: 71.9462
Epoch 78/1000
10/10 [==============================] - 0s 4ms/step - loss: 73.0900 - val_loss: 73.3030
Epoch 79/1000
10/10 [==============================] - 0s 3ms/step - loss: 72.5303 - val_loss: 71.0818
Epoch 80/1000
10/10 [==============================] - 0s 3ms/step - loss: 71.2452 - val_loss: 67.4995
Epoch 81/1000
10/10 [==============================] - 0s 3ms/step - loss: 69.3881 - val_loss: 68.9425
Epoch 82/1000
10/10 [==============================] - 0s 4ms/step - loss: 67.9114 - val_loss: 65.2268
Epoch 83/1000
10/10 [==============================] - 0s 4ms/step - loss: 66.6675 - val_loss: 64.8264
Epoch 84/1000
10/10 [==============================] - 0s 4ms/step - loss: 64.9346 - val_loss: 61.9272
Epoch 85/1000
10/10 [==============================] - 0s 3ms/step - loss: 63.8265 - val_loss: 62.1579
Epoch 86/1000
10/10 [==============================] - 0s 3ms/step - loss: 62.5024 - val_loss: 61.6619
Epoch 87/1000
10/10 [==============================] - 0s 3ms/step - loss: 61.7448 - val_loss: 59.1054
Epoch 88/1000
10/10 [==============================] - 0s 4ms/step - loss: 60.2655 - val_loss: 57.8158
Epoch 89/1000
10/10 [==============================] - 0s 4ms/step - loss: 59.2073 - val_loss: 56.7497
Epoch 90/1000
10/10 [==============================] - 0s 4ms/step - loss: 58.1647 - val_loss: 56.1393
Epoch 91/1000
10/10 [==============================] - 0s 4ms/step - loss: 57.6662 - val_loss: 53.6262
Epoch 92/1000
10/10 [==============================] - 0s 4ms/step - loss: 56.7845 - val_loss: 54.4161
Epoch 93/1000
10/10 [==============================] - 0s 4ms/step - loss: 55.2399 - val_loss: 51.6891
Epoch 94/1000
10/10 [==============================] - 0s 4ms/step - loss: 54.2452 - val_loss: 53.4212
Epoch 95/1000
10/10 [==============================] - 0s 4ms/step - loss: 53.7254 - val_loss: 50.0547
Epoch 96/1000
10/10 [==============================] - 0s 3ms/step - loss: 52.5713 - val_loss: 48.6908
Epoch 97/1000
10/10 [==============================] - 0s 3ms/step - loss: 51.5154 - val_loss: 48.8399
Epoch 98/1000
10/10 [==============================] - 0s 3ms/step - loss: 51.0031 - val_loss: 47.1386
Epoch 99/1000
10/10 [==============================] - 0s 3ms/step - loss: 49.4777 - val_loss: 46.7612
Epoch 100/1000
10/10 [==============================] - 0s 3ms/step - loss: 49.1864 - val_loss: 46.2433
Epoch 101/1000
10/10 [==============================] - 0s 3ms/step - loss: 48.4229 - val_loss: 44.4886
Epoch 102/1000
10/10 [==============================] - 0s 4ms/step - loss: 47.1616 - val_loss: 44.6007
Epoch 103/1000
10/10 [==============================] - 0s 4ms/step - loss: 46.3485 - val_loss: 42.7336
Epoch 104/1000
10/10 [==============================] - 0s 4ms/step - loss: 46.1312 - val_loss: 41.8893
Epoch 105/1000
10/10 [==============================] - 0s 4ms/step - loss: 44.9106 - val_loss: 41.9422
Epoch 106/1000
10/10 [==============================] - 0s 4ms/step - loss: 44.1515 - val_loss: 41.0738
Epoch 107/1000
10/10 [==============================] - 0s 4ms/step - loss: 43.4854 - val_loss: 40.0847
Epoch 108/1000
10/10 [==============================] - 0s 4ms/step - loss: 43.0004 - val_loss: 39.1382
Epoch 109/1000
10/10 [==============================] - 0s 4ms/step - loss: 42.3607 - val_loss: 39.4323
Epoch 110/1000
10/10 [==============================] - 0s 4ms/step - loss: 41.7456 - val_loss: 38.2352
Epoch 111/1000
10/10 [==============================] - 0s 4ms/step - loss: 41.0810 - val_loss: 37.7173
Epoch 112/1000
10/10 [==============================] - 0s 4ms/step - loss: 41.0316 - val_loss: 36.9557
Epoch 113/1000
10/10 [==============================] - 0s 4ms/step - loss: 40.2229 - val_loss: 37.4153
Epoch 114/1000
10/10 [==============================] - 0s 4ms/step - loss: 39.7664 - val_loss: 35.8210
Epoch 115/1000
10/10 [==============================] - 0s 4ms/step - loss: 38.8218 - val_loss: 35.8135
Epoch 116/1000
10/10 [==============================] - 0s 4ms/step - loss: 38.4678 - val_loss: 34.6521
Epoch 117/1000
10/10 [==============================] - 0s 4ms/step - loss: 37.9214 - val_loss: 35.1534
Epoch 118/1000
10/10 [==============================] - 0s 4ms/step - loss: 37.5258 - val_loss: 33.7111
Epoch 119/1000
10/10 [==============================] - 0s 4ms/step - loss: 37.0549 - val_loss: 33.3873
Epoch 120/1000
10/10 [==============================] - 0s 4ms/step - loss: 36.8932 - val_loss: 32.8842
Epoch 121/1000
10/10 [==============================] - 0s 3ms/step - loss: 36.3589 - val_loss: 32.2650
Epoch 122/1000
10/10 [==============================] - 0s 4ms/step - loss: 35.7887 - val_loss: 32.0779
Epoch 123/1000
10/10 [==============================] - 0s 4ms/step - loss: 35.5679 - val_loss: 31.8789
Epoch 124/1000
10/10 [==============================] - 0s 4ms/step - loss: 35.3146 - val_loss: 31.3596
Epoch 125/1000
10/10 [==============================] - 0s 4ms/step - loss: 34.8999 - val_loss: 30.6821
Epoch 126/1000
10/10 [==============================] - 0s 4ms/step - loss: 35.9205 - val_loss: 30.5662
Epoch 127/1000
10/10 [==============================] - ETA: 0s - loss: 38.24 - 0s 3ms/step - loss: 34.3864 - val_loss: 30.3746
Epoch 128/1000
10/10 [==============================] - 0s 3ms/step - loss: 34.0796 - val_loss: 29.5939
Epoch 129/1000
10/10 [==============================] - 0s 3ms/step - loss: 33.2155 - val_loss: 29.8503
Epoch 130/1000
10/10 [==============================] - 0s 4ms/step - loss: 32.9510 - val_loss: 28.8693
Epoch 131/1000
10/10 [==============================] - 0s 4ms/step - loss: 32.9028 - val_loss: 28.7778
Epoch 132/1000
10/10 [==============================] - 0s 4ms/step - loss: 32.2936 - val_loss: 28.3241
Epoch 133/1000
10/10 [==============================] - 0s 4ms/step - loss: 31.9765 - val_loss: 28.2153
Epoch 134/1000
10/10 [==============================] - 0s 4ms/step - loss: 31.6754 - val_loss: 28.1234
Epoch 135/1000
10/10 [==============================] - 0s 4ms/step - loss: 31.5815 - val_loss: 27.1579
Epoch 136/1000
10/10 [==============================] - 0s 3ms/step - loss: 31.1204 - val_loss: 27.2386
Epoch 137/1000
10/10 [==============================] - 0s 4ms/step - loss: 30.7264 - val_loss: 26.5363
Epoch 138/1000
10/10 [==============================] - 0s 4ms/step - loss: 30.4837 - val_loss: 27.0119
Epoch 139/1000
10/10 [==============================] - 0s 3ms/step - loss: 30.3836 - val_loss: 25.9685
Epoch 140/1000
10/10 [==============================] - 0s 3ms/step - loss: 30.3683 - val_loss: 26.1486
Epoch 141/1000
10/10 [==============================] - 0s 3ms/step - loss: 30.2359 - val_loss: 25.4161
Epoch 142/1000
10/10 [==============================] - 0s 3ms/step - loss: 29.9865 - val_loss: 25.1154
Epoch 143/1000
10/10 [==============================] - 0s 4ms/step - loss: 29.3967 - val_loss: 25.4831
Epoch 144/1000
10/10 [==============================] - 0s 4ms/step - loss: 29.7648 - val_loss: 24.6030
Epoch 145/1000
10/10 [==============================] - 0s 4ms/step - loss: 28.6816 - val_loss: 25.0980
Epoch 146/1000
10/10 [==============================] - 0s 4ms/step - loss: 28.6441 - val_loss: 24.1598
Epoch 147/1000
10/10 [==============================] - 0s 4ms/step - loss: 28.5833 - val_loss: 24.0422
Epoch 148/1000
10/10 [==============================] - 0s 4ms/step - loss: 28.8650 - val_loss: 23.5416
Epoch 149/1000
10/10 [==============================] - 0s 4ms/step - loss: 28.6647 - val_loss: 23.4107
Epoch 150/1000
10/10 [==============================] - 0s 4ms/step - loss: 27.7557 - val_loss: 23.1405
Epoch 151/1000
10/10 [==============================] - 0s 4ms/step - loss: 27.3873 - val_loss: 22.9762
Epoch 152/1000
10/10 [==============================] - 0s 4ms/step - loss: 27.4150 - val_loss: 22.7805
Epoch 153/1000
10/10 [==============================] - 0s 4ms/step - loss: 27.4419 - val_loss: 22.5787
Epoch 154/1000
10/10 [==============================] - 0s 4ms/step - loss: 27.4600 - val_loss: 22.4007
Epoch 155/1000
10/10 [==============================] - 0s 4ms/step - loss: 27.2101 - val_loss: 22.1216
Epoch 156/1000
10/10 [==============================] - 0s 3ms/step - loss: 27.0290 - val_loss: 22.3122
Epoch 157/1000
10/10 [==============================] - 0s 4ms/step - loss: 26.4656 - val_loss: 21.7547

Epoch 158/1000
10/10 [==============================] - 0s 4ms/step - loss: 26.2194 - val_loss: 21.7216
Epoch 159/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.9932 - val_loss: 21.4217
Epoch 160/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.7059 - val_loss: 21.8298
Epoch 161/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.8658 - val_loss: 20.9720
Epoch 162/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.6107 - val_loss: 21.2734
Epoch 163/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.5998 - val_loss: 20.9317
Epoch 164/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.4017 - val_loss: 20.4310
Epoch 165/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.4932 - val_loss: 20.2963
Epoch 166/1000
10/10 [==============================] - 0s 4ms/step - loss: 25.4970 - val_loss: 20.7082
Epoch 167/1000
10/10 [==============================] - 0s 4ms/step - loss: 24.4954 - val_loss: 20.0304
Epoch 168/1000
10/10 [==============================] - 0s 3ms/step - loss: 24.6004 - val_loss: 20.1345
Epoch 169/1000
10/10 [==============================] - 0s 3ms/step - loss: 24.9937 - val_loss: 19.7640
Epoch 170/1000
10/10 [==============================] - 0s 4ms/step - loss: 24.5019 - val_loss: 19.9887
Epoch 171/1000
10/10 [==============================] - 0s 4ms/step - loss: 24.1315 - val_loss: 19.5960
Epoch 172/1000
10/10 [==============================] - 0s 4ms/step - loss: 24.3241 - val_loss: 19.8191
Epoch 173/1000
10/10 [==============================] - 0s 3ms/step - loss: 23.7356 - val_loss: 19.4104
Epoch 174/1000
10/10 [==============================] - 0s 4ms/step - loss: 23.6866 - val_loss: 19.4466
Epoch 175/1000
10/10 [==============================] - 0s 4ms/step - loss: 23.4550 - val_loss: 19.5706
Epoch 176/1000
10/10 [==============================] - 0s 4ms/step - loss: 23.2105 - val_loss: 19.4206
Epoch 177/1000
10/10 [==============================] - 0s 4ms/step - loss: 23.2344 - val_loss: 18.9516
Epoch 178/1000
10/10 [==============================] - 0s 4ms/step - loss: 24.0228 - val_loss: 18.7640
Epoch 179/1000
10/10 [==============================] - 0s 4ms/step - loss: 23.1357 - val_loss: 18.9323
Epoch 180/1000
10/10 [==============================] - 0s 4ms/step - loss: 22.9267 - val_loss: 18.5017
Epoch 181/1000
10/10 [==============================] - 0s 4ms/step - loss: 22.5923 - val_loss: 18.3977
Epoch 182/1000
10/10 [==============================] - 0s 4ms/step - loss: 22.3910 - val_loss: 18.6246
Epoch 183/1000
10/10 [==============================] - 0s 4ms/step - loss: 22.4932 - val_loss: 18.1228
Epoch 184/1000
10/10 [==============================] - ETA: 0s - loss: 38.14 - 0s 4ms/step - loss: 22.1399 - val_loss: 17.9919
Epoch 185/1000
10/10 [==============================] - 0s 4ms/step - loss: 21.9849 - val_loss: 17.9741
Epoch 186/1000
10/10 [==============================] - 0s 4ms/step - loss: 22.0821 - val_loss: 17.7498
Epoch 187/1000
10/10 [==============================] - 0s 4ms/step - loss: 22.4915 - val_loss: 17.8001
Epoch 188/1000
10/10 [==============================] - 0s 4ms/step - loss: 21.7203 - val_loss: 17.6923
Epoch 189/1000
10/10 [==============================] - 0s 3ms/step - loss: 21.6460 - val_loss: 17.5462
Epoch 190/1000
10/10 [==============================] - 0s 3ms/step - loss: 22.0494 - val_loss: 17.4025
Epoch 191/1000
10/10 [==============================] - 0s 3ms/step - loss: 22.6879 - val_loss: 17.5074
Epoch 192/1000
10/10 [==============================] - 0s 4ms/step - loss: 21.6242 - val_loss: 17.4210
Epoch 193/1000
10/10 [==============================] - 0s 4ms/step - loss: 21.6086 - val_loss: 17.0091
Epoch 194/1000
10/10 [==============================] - 0s 3ms/step - loss: 21.3626 - val_loss: 16.8974
Epoch 195/1000
10/10 [==============================] - 0s 3ms/step - loss: 20.8407 - val_loss: 16.8773
Epoch 196/1000
10/10 [==============================] - 0s 4ms/step - loss: 20.8625 - val_loss: 17.0306
Epoch 197/1000
10/10 [==============================] - 0s 4ms/step - loss: 20.6821 - val_loss: 17.2299
Epoch 198/1000
10/10 [==============================] - 0s 3ms/step - loss: 20.6792 - val_loss: 16.9011
Epoch 199/1000
10/10 [==============================] - 0s 3ms/step - loss: 21.1506 - val_loss: 17.1257
Epoch 200/1000
10/10 [==============================] - 0s 4ms/step - loss: 20.9970 - val_loss: 16.7715
Epoch 201/1000
10/10 [==============================] - 0s 4ms/step - loss: 21.5356 - val_loss: 17.8178
Epoch 202/1000
10/10 [==============================] - 0s 4ms/step - loss: 20.8867 - val_loss: 16.9854
Epoch 203/1000
10/10 [==============================] - 0s 4ms/step - loss: 20.6869 - val_loss: 17.4180
Epoch 204/1000
10/10 [==============================] - 0s 4ms/step - loss: 21.2495 - val_loss: 17.4487
Epoch 205/1000
10/10 [==============================] - 0s 4ms/step - loss: 20.7778 - val_loss: 17.2965
Restoring model weights from the end of the best epoch.
Epoch 00205: early stopping

In [69]:
y_test.head()

      mpg
391  36.0
386  25.0
254  20.2
1    15.0
35   17.0

In [70]:
prediction = model.predict(x_test)

In [71]:
MSE = metrics.mean_squared_error(y_test, prediction)

In [72]:
score = np.sqrt(MSE)

In [73]:
print(score)

4.095299022852104

In [74]:
#save the model : flask web app

In [75]:
pwd

'C:\\Users\\Dell\\Desktop\\app\\Linear Regression'

In [76]:
os.getcwd()

'C:\\Users\\Dell\\Desktop\\app\\Linear Regression'

In [79]:
model.save(os.path.join(os.getcwd(), "mpg_model.keras"))

In [80]:
df.drop("name", axis = 1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1
3,16.0,8,304.0,150.0,3433,12.0,70,1
4,17.0,8,302.0,140.0,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1
394,44.0,4,97.0,52.0,2130,24.6,82,2
395,32.0,4,135.0,84.0,2295,11.6,82,1
396,28.0,4,120.0,79.0,2625,18.6,82,1
397,31.0,4,119.0,82.0,2720,19.4,82,1

In [83]:
df["displacement"].max()

455.0

In [85]:
cols = [x for x in df.columns if x not in ["mpg","name"]]

In [86]:
cols

['cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'year',
 'origin']

In [96]:
for i, name in enumerate(cols):
    print(str(name) + ":" + " {min:" +str(df[name].min())+ "," + "max: "+str(df[name].max()) + "}")

cylinders: {min:3,max: 8}
displacement: {min:68.0,max: 455.0}
horsepower: {min:46.0,max: 230.0}
weight: {min:1613,max: 5140}
acceleration: {min:8.0,max: 24.8}
year: {min:70,max: 82}
origin: {min:1,max: 3}

In [ ]:
{
"cylinders": {"min":3,"max": 8},
"displacement": {"min":68.0,"max": 455.0},
"horsepower": {"min":46.0"max"max: 230.0},
"weight": {"min":1613,"max": 5140},
"acceleration": {"min":8.0,"max": 24.8},
"year": {"min":70,"max": 82},
"origin": {"min":1,"max": 3},
 
}